.date-selection {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 18px;
    @media screen and (max-width: 610px) {
        flex-direction: column;
        align-items: flex-start;
    }
}