.order-summary__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
    span:last-child {
        font-weight: 700;
    }
}