.address-selection__items {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2.2rem;
    @media screen and (max-width: 610px) {
        overflow-x: scroll;
    }
}